{# Template: About. #}

{% extends 'frontend/layout/base.html.twig' %}

{% block header %}
    {% include 'frontend/layout/headers/default.html.twig' %}
{% endblock %}

{% block body %}
    <main>
        <div class="first__screen-bg">
            <picture class="first__screen-bg-img  ">
                <source media="(min-width: 1728px)" srcset="
              /img/aboutUs/hero/1728_aboutUsHero@1.png 1x,
              /img/aboutUs/hero/1728_aboutUsHero@2.png 2x,
              /img/aboutUs/hero/1728_aboutUsHero@3.png 3x
            ">
                <source media="(min-width: 1512px)" srcset="
              /img/aboutUs/hero/1512_aboutUsHero@1.png 1x,
              /img/aboutUs/hero/1512_aboutUsHero@2.png 2x,
              /img/aboutUs/hero/1512_aboutUsHero@3.png 3x
            ">
                <source media="(min-width: 1280px)" srcset="
              /img/aboutUs/hero/1280_aboutUsHero@1.png 1x,
              /img/aboutUs/hero/1280_aboutUsHero@2.png 2x,
             /img/aboutUs/hero/1280_aboutUsHero@3.png 3x
            ">
                <source media="(min-width: 1180px)"
                        srcset="/img/aboutUs/hero/1180_aboutUsHero@1.png 1x,/img/aboutUs/hero/1180_aboutUsHero@2.png 2x,/img/aboutUs/hero/1180_aboutUsHero@3.png 3x">
                <source media="(min-width: 834px)"
                        srcset="/img/aboutUs/hero/834_aboutUsHero@1.png 1x,/img/aboutUs/hero/834_aboutUsHero@2.png 2x,/img/aboutUs/hero/834_aboutUsHero@3.png 3x">
                <source media="(min-width: 375px)"
                        srcset="/img/aboutUs/hero/375_aboutUsHero@1.png 1x,/img/aboutUs/hero/375_aboutUsHero@2.png 2x,/img/aboutUs/hero/375_aboutUsHero@3.png 3x">
                <img class="hero__slide-img " src="/img/hero/red375.png"
                     srcset="/img/aboutUs/hero/375_aboutUsHero@1.png 1x,/img/aboutUs/hero/375_aboutUsHero@2.png 2x,/img/aboutUs/hero/375_aboutUsHero@3.png 3x"
                     alt="first image">
            </picture>
            <section class="about-us--hero">
                <div id="hero" class="container about-us--hero__container">
                    <picture class="about-us--hero--symbol">
                        <source media="(min-width: 1728px)"
                                srcset="/img/aboutUs/hero/375_symbol@1.png 1x, /img/aboutUs/hero/375_symbol@2.png 2x,/img/aboutUs/hero/375_symbol@3.png 3x">
                        <source media="(min-width: 1512px)"
                                srcset="/img/aboutUs/hero/1512_symbol@1.png 1x, /img/aboutUs/hero/1512_symbol@2.png 2x,/img/aboutUs/hero/1512_symbol@3.png 3x">
                        <source media="(min-width: 1280px)"
                                srcset="/img/aboutUs/hero/1280_symbol@1.png 1x, /img/aboutUs/hero/1280_symbol@2.png 2x,/img/aboutUs/hero/1280_symbol@3.png 3x">
                        <source media="(min-width: 1180px)"
                                srcset="/img/aboutUs/hero/1180_symbol@1.png 1x, /img/aboutUs/hero/1180_symbol@2.png 2x,/img/aboutUs/hero/1180_symbol@3.png 3x">
                        <source media="(min-width: 834px)"
                                srcset="/img/aboutUs/hero/834_symbol@1.png 1x, /img/aboutUs/hero/834_symbol@2.png 2x,/img/aboutUs/hero/834_symbol@3.png 3x">
                        <source media="(min-width: 375px)"
                                srcset="/img/aboutUs/hero/375_symbol@1.png 1x, /img/aboutUs/hero/375_symbol@2.png 2x,/img/aboutUs/hero/375_symbol@3.png 3x">
                        <img class="styled-gallery-top--phone"
                             srcset="/img/aboutUs/hero/375_symbol@1.png 1x, /img/aboutUs/hero/375_symbol@2.png 2x,/img/aboutUs/hero/375_symbol@3.png 3x"
                             src="/img/aboutUs/hero/375_symbol@1.png" alt="first image" width="343">
                    </picture>
                    <h1 class="about-us--hero--title">{{ page.h1 ?? page.title }}</h1>
                    <p class="about-us--hero--desc">
                        {{ fields.main.u_h1 | raw }}
                    </p>
                </div>
            </section>
            <section class="our-mission container">
                <h2 class="our-mission--title">{{ fields.our_mission.h }}</h2>
                <p class="our-mission--desc">{{ fields.our_mission.t }}</p>
                <ul class="our-mission--list">
                    {% for block in fields.our_mission.b1 %}
                        <li class="our-mission--item">
                            <h3 class="our-mission--item__title">
					<span class="our-mission--item--icon">
                        <img src="{{ block.i }}" alt="">
				</span>{{ block.c }}
                            </h3>
                            <p class="our-mission--item--desc">{{ block.t }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
        <section class="benefits-about">
            <ul class="benefits-about--list">
                {% for stat in fields.stats %}
                    <li class="benefits-about--item">
                        <p class="benefits-about--item--title">{{ stat.sc }}</p>
                        <p class="benefits-about--item--desc">{{ stat.ct }}</p>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section class="we-are container">
            {% set labelColors = ['red', 'purple', 'orange', 'green'] %}
            {{ dump(fields) }}
            <h2 class="we-are--title">{{ fields.wwa.h }}</h2>
            <div class="we-are--top">
                <div class="we-are--top--text-box">
                    <p class="we-are--top--desc">
                        {{ fields.wwa.t | raw }}
                    </p>
                </div>
                <div class="we-are--centre">
                    <p class="we-are--centre--title">Our strengths</p>
                    <ul class="we-are--centre__buttons">
                        {% for line in fields.wwa.s %}
                            <li class="button {{ labelColors[loop.index0] }}"><span>{{ line.st }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="we-are--bottom">
                <div class="we-are--bottom__reports">
                    <h3 class="we-are--bottom__reports--title">{{ fields.reporters.h }}</h3>
                    <p class="we-are--bottom__reports--desc">{{ fields.reporters.t }}</p>
                </div>
                <ul class="we-are--bottom__list">
                    {% for reporter in fields.reporters.e %}
                        <li class="we-are--bottom__item">
                            <img class="we-are--bottom__item--img" src="{{ reporter.p }}" alt="{{ reporter.n }}">
                            <div class="we-are--bottom__item--info">
                                <p class="we-are--bottom__item--name">{{ reporter.n }}</p>
                                <p class="we-are--bottom__item--desc">{{ reporter.pos }}</p>
                                <div class="we-are--bottom__item--socials">
                                    {% if reporter.l %}
                                        <a class="we-are--bottom__item--social-link" href="{{ reporter.l }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24"
                                                 fill="none">
                                                <path d="M18.335 18.339H15.67V14.162C15.67 13.166 15.65 11.884 14.28 11.884C12.891 11.884 12.679 12.968 12.679 14.089V18.339H10.013V9.75H12.573V10.92H12.608C12.966 10.246 13.836 9.533 15.136 9.533C17.836 9.533 18.336 11.311 18.336 13.624V18.339H18.335ZM7.003 8.575C6.79956 8.57526 6.59806 8.53537 6.41006 8.45761C6.22207 8.37984 6.05127 8.26574 5.90746 8.12184C5.76365 7.97793 5.64965 7.80706 5.57201 7.61901C5.49437 7.43097 5.4546 7.22944 5.455 7.026C5.4552 6.71983 5.54618 6.4206 5.71644 6.16615C5.8867 5.91169 6.12859 5.71343 6.41153 5.59645C6.69447 5.47947 7.00574 5.44902 7.30598 5.50894C7.60622 5.56886 7.88196 5.71647 8.09831 5.93311C8.31466 6.14974 8.46191 6.42566 8.52145 6.72598C8.58099 7.0263 8.55013 7.33753 8.43278 7.62032C8.31544 7.9031 8.11687 8.14474 7.86219 8.31467C7.60751 8.4846 7.30817 8.5752 7.002 8.575H7.003ZM8.339 18.339H5.666V9.75H8.34V18.339H8.339ZM19.67 3H4.329C3.593 3 3 3.58 3 4.297V19.703C3 20.42 3.594 21 4.328 21H19.666C20.4 21 21 20.42 21 19.703V4.297C21 3.58 20.4 3 19.666 3H19.669H19.67Z"/>
                                            </svg>
                                        </a>
                                    {% endif %}
                                    {% if reporter.yt %}
                                        <a class="we-are--bottom__item--social-link" href="{{ reporter.yt }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24"
                                                 fill="none">
                                                <path d="M19.606 6.995C19.53 6.697 19.314 6.472 19.067 6.403C18.63 6.28 16.5 6 12 6C7.5 6 5.372 6.28 4.931 6.403C4.687 6.471 4.471 6.696 4.394 6.995C4.285 7.419 4 9.196 4 12C4 14.804 4.285 16.58 4.394 17.006C4.47 17.303 4.686 17.528 4.932 17.596C5.372 17.72 7.5 18 12 18C16.5 18 18.629 17.72 19.069 17.597C19.313 17.529 19.529 17.304 19.606 17.005C19.715 16.581 20 14.8 20 12C20 9.2 19.715 7.42 19.606 6.995ZM21.543 6.498C22 8.28 22 12 22 12C22 12 22 15.72 21.543 17.502C21.289 18.487 20.546 19.262 19.605 19.524C17.896 20 12 20 12 20C12 20 6.107 20 4.395 19.524C3.45 19.258 2.708 18.484 2.457 17.502C2 15.72 2 12 2 12C2 12 2 8.28 2.457 6.498C2.711 5.513 3.454 4.738 4.395 4.476C6.107 4 12 4 12 4C12 4 17.896 4 19.605 4.476C20.55 4.742 21.292 5.516 21.543 6.498V6.498ZM10 15.5V8.5L16 12L10 15.5Z"/>
                                            </svg>
                                        </a>
                                    {% endif %}

                                    {% if reporter.fb %}
                                        <a class="we-are--bottom__item--social-link" href="{{ reporter.fb }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none">
                                                <path d="M12 2C6.477 2 2 6.477 2 12C2 16.991 5.657 21.128 10.438 21.879V14.89H7.898V12H10.438V9.797C10.438 7.291 11.93 5.907 14.215 5.907C15.309 5.907 16.453 6.102 16.453 6.102V8.562H15.193C13.95 8.562 13.563 9.333 13.563 10.124V12H16.336L15.893 14.89H13.563V21.879C18.343 21.129 22 16.99 22 12C22 6.477 17.523 2 12 2Z"></path>
                                            </svg>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="asked-faq">
            <div class="container asked-faq__container">
                <h2 class="asked-faq--title">Frequently asked questions for casino</h2>
                <ul class="accordion black">
                    {% for item in fields.faq %}
                        <li class="accordion__item" data-action="accordion-item">
                            <div class="accordion__item--header" data-action="accordion-header">
                                <h3 class="accordion__item--header-title">
                                    {{ item.q }}
                                </h3>
                                <button class="accordion__item-header--button"></button>
                            </div>
                            <div class="accordion__item--content">
                                <div class="accordion__item--content-wrapper">
                                    <p>
                                        {{ item.a }}
                                    </p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="container contact-about">
            <h2 class="contact-about--title">Contact information</h2>
            <div class="contact-about__wrapper">
                <div class="contact-about--box">
                    <p class="contact-about__subtitle">For casinos contact</p>
                    <a class="contact-about__item" href="mailto:{{ fields.fcc.e }}">
						<span>
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                 fill="none">
		  <path fill-rule="evenodd" clip-rule="evenodd"
                d="M3.33341 4.3335C2.96903 4.3335 2.66675 4.63578 2.66675 5.00016V15.0002C2.66675 15.3645 2.96903 15.6668 3.33341 15.6668H16.6667C17.0311 15.6668 17.3334 15.3645 17.3334 15.0002V5.00016C17.3334 4.63578 17.0311 4.3335 16.6667 4.3335H3.33341ZM0.666748 5.00016C0.666748 3.53121 1.86446 2.3335 3.33341 2.3335H16.6667C18.1357 2.3335 19.3334 3.53121 19.3334 5.00016V15.0002C19.3334 16.4691 18.1357 17.6668 16.6667 17.6668H3.33341C1.86446 17.6668 0.666748 16.4691 0.666748 15.0002V5.00016Z"
                fill="#DE3768"/>
		  <path fill-rule="evenodd" clip-rule="evenodd"
                d="M0.847358 4.42662C1.16407 3.97417 1.7876 3.86414 2.24005 4.18085L9.99992 9.61276L17.7598 4.18085C18.2122 3.86414 18.8358 3.97417 19.1525 4.42662C19.4692 4.87907 19.3592 5.5026 18.9067 5.81932L10.5734 11.6527C10.2291 11.8937 9.77078 11.8937 9.42646 11.6527L1.09313 5.81932C0.640678 5.5026 0.530643 4.87907 0.847358 4.42662Z"
                fill="#DE3768"/>
		</svg>
						</span>
                        E-mail: {{ fields.fcc.e }}
                    </a>
                    <a class="contact-about__item" href="tel:{{ fields.fcc.p }}">
						<span>
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                 fill="none">
								<path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M10.8337 1.32265C10.5075 2.16581 10.8427 2.61755 12.0165 2.9158C14.9852 3.67041 16.6127 5.38034 17.2976 8.46423C17.6461 10.0338 19.008 9.6236 19 7.95166C18.9847 4.7497 15.6714 1.36654 12.2303 1.03851C11.2663 0.946883 10.9546 1.01002 10.8337 1.32265ZM0.923656 2.40348C-1.66659 4.56464 1.49627 12.36 6.6167 16.4343C10.0278 19.1486 15.6331 20.8023 17.3593 19.6037C19.5348 18.0927 18.5288 12.2873 16.0892 12.2755C15.7711 12.274 14.9536 12.1051 14.2725 11.9003C12.9598 11.5052 12.0682 11.6631 11.1969 12.4449C10.6167 12.9657 10.0962 12.6667 8.42361 10.8523L7.09199 9.40749L7.74201 8.64159C8.76325 7.43806 8.12591 3.5395 6.71067 2.33239C5.65785 1.43481 2.03162 1.47922 0.923656 2.40348ZM5.4694 3.8724C6.28587 4.93271 6.42255 7.14007 5.71662 7.87081C4.56051 9.0674 4.87581 10.0489 7.20252 12.4939C9.66411 15.0807 10.8963 15.5321 12.165 14.313L12.9859 13.5242L14.6367 14.0062L16.2875 14.4883V16.2708V18.0534L15.2521 17.979C11.4091 17.7025 6.70886 14.7511 4.39147 11.1593C2.70468 8.54456 1.53459 4.70684 2.18668 3.92759C2.58275 3.45429 5.11449 3.41168 5.4694 3.8724ZM11.1332 4.4014C10.4803 4.8747 10.7133 5.66268 11.631 6.08618C12.7366 6.59644 13.295 7.13622 13.8676 8.24837C14.4573 9.39414 15.0074 9.6793 15.564 9.1272C17.0582 7.64571 12.8498 3.15707 11.1332 4.4014Z"
                                      fill="#DE3768"/>
							</svg>
						</span>
                        For calls: {{ fields.fcc.p }}
                    </a>
                    <a class="contact-about__item" href="tel:{{ fields.fcc.w }}">
						<span>
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                 fill="none">
								<g clip-path="url(#clip0_12043_83220)">
									<path
                                            d="M17.0854 2.91005C16.164 1.98398 15.0665 1.24972 13.8569 0.750108C12.6473 0.250493 11.3499 -0.0044801 10.0402 5.95695e-05C4.55276 5.95695e-05 0.0804022 4.45005 0.0804022 9.91003C0.0804022 11.66 0.542714 13.36 1.40704 14.86L0 20L5.27638 18.62C6.73367 19.41 8.37186 19.83 10.0402 19.83C15.5276 19.83 20 15.38 20 9.92003C20 7.27004 18.9648 4.78005 17.0854 2.91005ZM10.0402 18.15C8.55276 18.15 7.09548 17.75 5.81909 17L5.51759 16.82L2.38191 17.64L3.21608 14.6L3.01508 14.29C2.18869 12.977 1.74989 11.4593 1.74874 9.91003C1.74874 5.37004 5.46734 1.67005 10.0301 1.67005C12.2412 1.67005 14.3216 2.53005 15.8794 4.09005C16.6507 4.85401 17.262 5.7627 17.6778 6.76346C18.0936 7.76422 18.3056 8.83714 18.3015 9.92003C18.3216 14.46 14.603 18.15 10.0402 18.15ZM14.5829 11.99C14.3317 11.87 13.1055 11.27 12.8844 11.18C12.6533 11.1 12.4925 11.06 12.3216 11.3C12.1508 11.55 11.6784 12.11 11.5377 12.27C11.397 12.44 11.2462 12.46 10.995 12.33C10.7437 12.21 9.9397 11.94 8.99497 11.1C8.25126 10.44 7.75879 9.63003 7.60804 9.38003C7.46734 9.13003 7.58794 9.00003 7.71859 8.87003C7.82914 8.76003 7.96985 8.58003 8.09045 8.44003C8.21105 8.30003 8.26131 8.19003 8.34171 8.03004C8.42211 7.86004 8.38191 7.72004 8.32161 7.60004C8.26131 7.48004 7.75879 6.26004 7.55779 5.76004C7.35678 5.28004 7.14573 5.34004 6.99497 5.33004H6.51256C6.34171 5.33004 6.0804 5.39004 5.84925 5.64004C5.62814 5.89004 4.98492 6.49004 4.98492 7.71004C4.98492 8.93003 5.8794 10.11 6 10.27C6.1206 10.44 7.75879 12.94 10.2513 14.01C10.8442 14.27 11.3065 14.42 11.6683 14.53C12.2613 14.72 12.804 14.69 13.2362 14.63C13.7186 14.56 14.7136 14.03 14.9146 13.45C15.1256 12.87 15.1256 12.38 15.0553 12.27C14.9849 12.16 14.8342 12.11 14.5829 11.99Z"
                                            fill="#DE3768"/>
								</g>
								<defs>
									<clipPath id="clip0_12043_83220">
										<rect width="20" height="20" fill="white"/>
									</clipPath>
								</defs>
							</svg>
						</span>
                        WhatsApp: {{ fields.fcc.w }}
                    </a>
                </div>
                <div class="contact-about--box">
                    <p class="contact-about__subtitle">For players contact</p>
                    <a class="contact-about__item" href="mailto:{{ fields.fpc.e }}">
						<span>
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                 fill="none">
		  <path fill-rule="evenodd" clip-rule="evenodd"
                d="M3.33341 4.3335C2.96903 4.3335 2.66675 4.63578 2.66675 5.00016V15.0002C2.66675 15.3645 2.96903 15.6668 3.33341 15.6668H16.6667C17.0311 15.6668 17.3334 15.3645 17.3334 15.0002V5.00016C17.3334 4.63578 17.0311 4.3335 16.6667 4.3335H3.33341ZM0.666748 5.00016C0.666748 3.53121 1.86446 2.3335 3.33341 2.3335H16.6667C18.1357 2.3335 19.3334 3.53121 19.3334 5.00016V15.0002C19.3334 16.4691 18.1357 17.6668 16.6667 17.6668H3.33341C1.86446 17.6668 0.666748 16.4691 0.666748 15.0002V5.00016Z"
                fill="#DE3768"/>
		  <path fill-rule="evenodd" clip-rule="evenodd"
                d="M0.847358 4.42662C1.16407 3.97417 1.7876 3.86414 2.24005 4.18085L9.99992 9.61276L17.7598 4.18085C18.2122 3.86414 18.8358 3.97417 19.1525 4.42662C19.4692 4.87907 19.3592 5.5026 18.9067 5.81932L10.5734 11.6527C10.2291 11.8937 9.77078 11.8937 9.42646 11.6527L1.09313 5.81932C0.640678 5.5026 0.530643 4.87907 0.847358 4.42662Z"
                fill="#DE3768"/>
		</svg>
						</span>
                        E-mail: {{ fields.fpc.e }}
                    </a>
                    <a class="contact-about__item" href="tel:{{ fields.fpc.p }}">
						<span>
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                 fill="none">
								<path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M10.8337 1.32265C10.5075 2.16581 10.8427 2.61755 12.0165 2.9158C14.9852 3.67041 16.6127 5.38034 17.2976 8.46423C17.6461 10.0338 19.008 9.6236 19 7.95166C18.9847 4.7497 15.6714 1.36654 12.2303 1.03851C11.2663 0.946883 10.9546 1.01002 10.8337 1.32265ZM0.923656 2.40348C-1.66659 4.56464 1.49627 12.36 6.6167 16.4343C10.0278 19.1486 15.6331 20.8023 17.3593 19.6037C19.5348 18.0927 18.5288 12.2873 16.0892 12.2755C15.7711 12.274 14.9536 12.1051 14.2725 11.9003C12.9598 11.5052 12.0682 11.6631 11.1969 12.4449C10.6167 12.9657 10.0962 12.6667 8.42361 10.8523L7.09199 9.40749L7.74201 8.64159C8.76325 7.43806 8.12591 3.5395 6.71067 2.33239C5.65785 1.43481 2.03162 1.47922 0.923656 2.40348ZM5.4694 3.8724C6.28587 4.93271 6.42255 7.14007 5.71662 7.87081C4.56051 9.0674 4.87581 10.0489 7.20252 12.4939C9.66411 15.0807 10.8963 15.5321 12.165 14.313L12.9859 13.5242L14.6367 14.0062L16.2875 14.4883V16.2708V18.0534L15.2521 17.979C11.4091 17.7025 6.70886 14.7511 4.39147 11.1593C2.70468 8.54456 1.53459 4.70684 2.18668 3.92759C2.58275 3.45429 5.11449 3.41168 5.4694 3.8724ZM11.1332 4.4014C10.4803 4.8747 10.7133 5.66268 11.631 6.08618C12.7366 6.59644 13.295 7.13622 13.8676 8.24837C14.4573 9.39414 15.0074 9.6793 15.564 9.1272C17.0582 7.64571 12.8498 3.15707 11.1332 4.4014Z"
                                      fill="#DE3768"/>
							</svg>
						</span>
                        For calls: {{ fields.fpc.p }}
                    </a>
                    <a class="contact-about__item" href="tel:{{ fields.fpc.w }}">
						<span>
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                 fill="none">
								<g clip-path="url(#clip0_12043_83220)">
									<path
                                            d="M17.0854 2.91005C16.164 1.98398 15.0665 1.24972 13.8569 0.750108C12.6473 0.250493 11.3499 -0.0044801 10.0402 5.95695e-05C4.55276 5.95695e-05 0.0804022 4.45005 0.0804022 9.91003C0.0804022 11.66 0.542714 13.36 1.40704 14.86L0 20L5.27638 18.62C6.73367 19.41 8.37186 19.83 10.0402 19.83C15.5276 19.83 20 15.38 20 9.92003C20 7.27004 18.9648 4.78005 17.0854 2.91005ZM10.0402 18.15C8.55276 18.15 7.09548 17.75 5.81909 17L5.51759 16.82L2.38191 17.64L3.21608 14.6L3.01508 14.29C2.18869 12.977 1.74989 11.4593 1.74874 9.91003C1.74874 5.37004 5.46734 1.67005 10.0301 1.67005C12.2412 1.67005 14.3216 2.53005 15.8794 4.09005C16.6507 4.85401 17.262 5.7627 17.6778 6.76346C18.0936 7.76422 18.3056 8.83714 18.3015 9.92003C18.3216 14.46 14.603 18.15 10.0402 18.15ZM14.5829 11.99C14.3317 11.87 13.1055 11.27 12.8844 11.18C12.6533 11.1 12.4925 11.06 12.3216 11.3C12.1508 11.55 11.6784 12.11 11.5377 12.27C11.397 12.44 11.2462 12.46 10.995 12.33C10.7437 12.21 9.9397 11.94 8.99497 11.1C8.25126 10.44 7.75879 9.63003 7.60804 9.38003C7.46734 9.13003 7.58794 9.00003 7.71859 8.87003C7.82914 8.76003 7.96985 8.58003 8.09045 8.44003C8.21105 8.30003 8.26131 8.19003 8.34171 8.03004C8.42211 7.86004 8.38191 7.72004 8.32161 7.60004C8.26131 7.48004 7.75879 6.26004 7.55779 5.76004C7.35678 5.28004 7.14573 5.34004 6.99497 5.33004H6.51256C6.34171 5.33004 6.0804 5.39004 5.84925 5.64004C5.62814 5.89004 4.98492 6.49004 4.98492 7.71004C4.98492 8.93003 5.8794 10.11 6 10.27C6.1206 10.44 7.75879 12.94 10.2513 14.01C10.8442 14.27 11.3065 14.42 11.6683 14.53C12.2613 14.72 12.804 14.69 13.2362 14.63C13.7186 14.56 14.7136 14.03 14.9146 13.45C15.1256 12.87 15.1256 12.38 15.0553 12.27C14.9849 12.16 14.8342 12.11 14.5829 11.99Z"
                                            fill="#DE3768"/>
								</g>
								<defs>
									<clipPath id="clip0_12043_83220">
										<rect width="20" height="20" fill="white"/>
									</clipPath>
								</defs>
							</svg>
						</span>
                        WhatsApp: {{ fields.fpc.w }}
                    </a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('about', null, 'frontend') }}
{% endblock %}