<li class="review-lobby--casino ">
    <div class="review-lobby--casino__label">
        <p class="item first">#{{ index }} {% if index < 4 %}top rated casino{% endif %}</p>
        {% for label in review.labels | decode %}
            <p class="item" style="background: {{ label.color }}; color: #fff;">{{ label.text }}</p>
        {% endfor %}
    </div>
    <div class="review-lobby--casino--wrapper">
        <!--					! top box-->
        <div class="review-lobby--casino--wrapper-top">
            <div class="review-lobby--casino--info">
                <img class="review-lobby--casino--info-avatar" src="{{ uploaded_asset(review.thumbnail) }}"
                     alt="{{ review.title }}">
                <div class="review-lobby--casino--info-desc">
                    <p class="review-lobby--casino--info-rate">
                        <svg class="review-lobby--casino--info-rate-icon" xmlns="http://www.w3.org/2000/svg" width="16"
                             height="16" viewBox="0 0 16 16" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M7.99992 1.33325C8.22473 1.33325 8.43055 1.46517 8.53274 1.67475L10.3072 5.31389L14.1623 5.95561C14.3843 5.99257 14.5678 6.15668 14.6373 6.38046C14.7068 6.60423 14.6505 6.84988 14.4916 7.01636L11.7331 9.9072L12.3413 13.9429C12.3763 14.1754 12.2839 14.4087 12.102 14.547C11.9202 14.6853 11.6796 14.7052 11.4792 14.5985L7.99992 12.746L4.52064 14.5985C4.32027 14.7052 4.07967 14.6853 3.8978 14.547C3.71592 14.4087 3.62349 14.1754 3.65852 13.9429L4.2667 9.9072L1.50821 7.01636C1.34934 6.84988 1.29308 6.60423 1.36255 6.38046C1.43201 6.15668 1.61549 5.99257 1.83751 5.95561L5.69267 5.31389L7.4671 1.67475C7.56929 1.46517 7.77511 1.33325 7.99992 1.33325Z"
                                  fill="#F0D800"/>
                        </svg>
                        <span class="review-lobby--casino--info-rate-value">{{ review.rating }}</span>
                        <span class="review-lobby--casino--info-rate-max">/ 5</span>
                    </p>
                    <p class="review-lobby--casino--info-name">{{ review.title }}</p>
                    <a class="review-lobby--casino--info-link"
                       href="{{ path('frontend_review_item', {'slug' : review.slug}) }}">See review</a>
                </div>
            </div>
            <p class="review-lobby--casino--desc">{{ review.listingText }}</p>
            <div class="review-lobby--casino--buttons">
                <a class="button red" href="{{ review.siteUrl }}" target="_blank"><span>Play now</span></a>
                <a class="review-lobby--casino--buttons-link"
                   href="{{ path('frontend_review_item', {'slug' : review.slug}) }}">See review</a>
            </div>
        </div>
        <!--					! center box-->
        <ul class="review-lobby--casino--wrapper-center">
            <li class="review-lobby--casino--wrapper-center--item">
                Odds margin <span>{{ review.oddsMargin }}</span>
            </li>
            <li class="review-lobby--casino--wrapper-center--item">
                Wagering <span>x65 {{ review.wagering }}</span>
            </li>
            <li class="review-lobby--casino--wrapper-center--item">
                Withdrawal time <span>{{ review.withdrawalTime }}</span>
            </li>
            <li class="review-lobby--casino--wrapper-center--item">
                Bonus max bet <span>{{ review.bonusMaxBet }}</span>
            </li>
            <li class="review-lobby--casino--wrapper-center--item">
                Promo-code
                <div class="review-lobby--casino--wrapper-center--promo-code">
                    <button data-action="copyButton" type="button"
                            class="review-lobby--casino--wrapper-center--promo-code--button">
                        <span data-target="buttonText">{{ review.promoCode }}</span>
                        <svg data-target="copyIcon" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                             viewBox="0 0 20 20" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M7 9.16667C7 7.97005 7.97005 7 9.16667 7H16.6667C17.8633 7 18.8333 7.97005 18.8333 9.16667V16.6667C18.8333 17.8633 17.8633 18.8333 16.6667 18.8333H9.16667C7.97005 18.8333 7 17.8633 7 16.6667V9.16667Z"
                            />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M3.33268 2.16663C3.02326 2.16663 2.72652 2.28954 2.50772 2.50833C2.28893 2.72713 2.16602 3.02387 2.16602 3.33329V10.8333C2.16602 11.1427 2.28893 11.4395 2.50772 11.6583C2.72652 11.877 3.02326 12 3.33268 12H4.16602C4.44216 12 4.66602 12.2238 4.66602 12.5C4.66602 12.7761 4.44216 13 4.16602 13H3.33268C2.75805 13 2.20695 12.7717 1.80062 12.3654C1.39429 11.959 1.16602 11.4079 1.16602 10.8333V3.33329C1.16602 2.75866 1.39429 2.20756 1.80062 1.80123C2.20695 1.3949 2.75805 1.16663 3.33268 1.16663H10.8327C11.4073 1.16663 11.9584 1.3949 12.3647 1.80123C12.7711 2.20756 12.9993 2.75866 12.9993 3.33329V4.16663C12.9993 4.44277 12.7755 4.66663 12.4993 4.66663C12.2232 4.66663 11.9993 4.44277 11.9993 4.16663V3.33329C11.9993 3.02387 11.8764 2.72713 11.6576 2.50833C11.4388 2.28954 11.1421 2.16663 10.8327 2.16663H3.33268Z"
                            />

                        </svg>

                    </button>
                </div>
            </li>
        </ul>
        <!--					! payment box-->
        <ul class="review-lobby--casino-payments">
            {% for icon in review.paymentLogos | decode %}
                <li class="review-lobby--casino-payments--item">
                    <img width="32" height="32" src="{{ icon }}" alt="multibanco logo">
                </li>
            {% endfor %}
        </ul>
        <!--					! legal box-->
        <div class="review-lobby--casino--legal" data-tooltip-container>
            <button class="review-lobby--casino--legal-button" data-tooltip-trigger>
                Must be +21 to play. T&Cs apply.
            </button>
            <div class="review-lobby--casino--legal--tooltip" data-tooltip-content>
                <p>{{ option('disclosure') }}</p>
                <button class="review-lobby--casino--legal--tooltip__cross" data-tooltip-close>

                </button>
            </div>
        </div>
    </div>
</li>